<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:annotation-config/>




    <!-- dependencyInjection definitions here -->
    <bean class="com.springcore.dependencyInjection.fieldInitialization.Student" name="student1">
        <property name="studentId">
            <value>1</value>
        </property>
        <property name="studentName">
            <value>Shakti</value>
        </property>
        <property name="studentAddress">
            <value>Rajasthan</value>
        </property>
    </bean>

    <!--     using p schema-->
    <bean class="com.springcore.dependencyInjection.fieldInitialization.Student" name="student2" p:studentId="10"
          p:studentName="Sandeep"
          p:studentAddress="Churu"/>

    <!-- Initiating collection objects -->
    <bean class="com.springcore.dependencyInjection.collections.Employee" name="employee">
        <property name="name" value="Shakti"/>

        <property name="phones">
            <set>
                <value>99XXXXXX1234</value>
                <value>99XXXXX12345</value>
            </set>
        </property>

        <property name="address">
            <list>
                <value>Churu</value>
                <value>Rajasthan</value>
            </list>
        </property>

        <property name="courses">
            <map>
                <entry key="English" value="ENG01"></entry>
                <entry key="Math" value="M01"></entry>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="DB_URL">127.0.0.1</prop>
                <prop key="DB_USERNAME">root</prop>
                <prop key="DB_PASS">root123</prop>
            </props>
        </property>
    </bean>


    <!--    reference Example-->
    <bean class="com.springcore.dependencyInjection.reference.CarParts" name="refCarParts">
        <property name="parts">
            <list>
                <value>staring</value>
                <value>tyres</value>
                <value>gate</value>
                <value>engine</value>
            </list>
        </property>
    </bean>

    <bean class="com.springcore.dependencyInjection.reference.Car" name="refCar">
        <property name="modelNumber">
            <value>007</value>
        </property>
        <property name="milege" value="21.07"/>
        <property name="carType" value="Hybrid"/>
        <property name="carParts">
            <ref bean="refCarParts"/>
        </property>
    </bean>

    <bean class="com.springcore.dependencyInjection.constructorInjection.CarInfo" name="consInjCar">
        <constructor-arg name="mileage" value="10.77"/>
        <constructor-arg name="carModel" value="SUV700"/>
    </bean>

    <!--    Demonstration of Beans Life Cycle -->
    <bean class="com.springcore.dependencyInjection.lifecycle.LifeCycleExampleUsingXML" name="lifeCycleUsingXML"
          init-method="init" destroy-method="destroy">
        <property name="classInfo">
            <value>This cycle is used for learning beans life cycle using XML</value>
        </property>
    </bean>

    <bean class="com.springcore.dependencyInjection.lifecycle.LifeCycleExampleUsingAnnotation"
          name="lifeCycleUsingAnnotation">
        <property name="classInfo">
            <value>This cycle is used for learning beans life cycle using Annotation</value>
        </property>
    </bean>

    <bean class="com.springcore.dependencyInjection.lifecycle.LifeCycleExampleUsingInterface"
          name="lifeCycleUsingInterface">
        <property name="classInfo">
            <value>This cycle is used for learning beans life cycle using Interface</value>
        </property>
    </bean>


</beans>